<h2>Онлайн запись</h2>

<form action="/visit" method="post" role="form">
  <div class="form-group">
    <label>Ваше имя</label>
    <input type="text" name="username" class="form-control" placeholder="Ваше имя">
  </div>
  <button type="submit" class="btn btn-info">Записатся</button>
</form>
